$main-bg: #010103;
$font-color: #ffffff;
$muted: #c7c6c6;
$highlight: #c7a17a;
$bebas: "Bebas Neue", cursive;
$border-color: #32323d;
$sec-bg: #13131a;
$light-dark: #32323d;
$input-field: #f4f1ee;
$wrapper-bg: #000000e6;
$form-box-shadow: rgba(255, 255, 255, 0.1);
$form-shadow: rgba(0, 0, 0, 0.8);
$form-background: #131419;
$form-background-op: #131419ed;
$invalid-color: #ff0000c7;
$valid-color: #00ff95c7;
$product-border: #32323d;
$highlight-lite: #9b7f64;
$modal-bg: rgba(0, 0, 0, 0.808);
$border-color-lite: #32323d3d;
$grey: #a4a4a4;
$input-box-dark: #09090D;
$nav-bg: #040509;
$dark-bat: #000000;
$dark-as-hell: #252839;
$close-btn: #f15e5e;