// importing all other scss file...
@import "reset";
@import "variable";
@import "scrollbar";
@import "tinymce";
// importing all mixins scss files...
@import "mixins";
// main style start from here...
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	body {
		height: 100vh;
		background-color: $main-bg;
		// alert message for all activity
		#alert-div {
			position: fixed;
			right: 27px;
			bottom: 27px;
			z-index: 99999;
			transition: 0.3s all;
			.alert {
				@include flex(flex-start, center);
				color: $font-color;
				background-color: $form-box-shadow;
				padding: 15px 18px;
				border-radius: 5px;
				color: $valid-color;
				span {
					cursor: pointer;
					color: $font-color;
					margin-left: 15px;
				}
			}
			.alert-danger {
				color: $invalid-color;
			}
		}
		// importing main header...
		@import "header";

		// tiny mce
		.tox-toolbar__primary {
			background-color: #232636 !important;
		}
		// all checkout details
		#all-subscribed-mail {
			.container-sm {
				.full-row {
					ul {
						width: 100%;
						li {
							color: $input-field;
							list-style: none;
							border: 1px solid $highlight;
							width: 100%;
							margin: 20px 0px 20px 0px;
							@include flex(flex-start);
							padding: 15px;
							&:nth-child(even) {
								background-color: $sec-bg;
							}
							.checkout-img {
								line-height: 0;
								img {
									width: 80px;
									border-radius: 5px;
								}
							}
							.checkout-details {
								padding-left: 20px;
								h3 {
									font-family: Arial, Helvetica, sans-serif;
									font-weight: 500;
								}
								.quantity-sl {
									height: 26px;
									width: 26px;
									background-color: $highlight;
									border-radius: 50%;
									@include flex();
									display: inline-flex;
									margin: 8px 8px 8px 0px;
								}
							}
							.step {
								margin-left: auto;
								display: flex;
								flex-direction: column;
								gap: 10px;
								a {
									all: unset;
									button {
										all: unset;
										width: 70px;
										background-color: $valid-color;
										padding: 6px 14px;
										border-radius: 4px;
										text-transform: uppercase;
										text-align: center;
										transition: 0.3s;
										&:hover {
											color: $muted;
										}
									}
									#o-cancel {
										background-color: $invalid-color;
									}
									&:hover {
										cursor: pointer;
									}
								}
							}
						}
					}
				}
			}
			.send-all {
				margin-top: 10px;
				text-align: center;
				a {
					button {
						@include big-heading();
						border: none;
						&:hover {
							cursor: pointer;
						}
					}
				}
			}
		}
		// Aside section for admin dashboard
		aside {
			position: fixed;
			top: 23%;
			left: -172px;
			background-color: $font-color;
			height: 460px;
			z-index: 999;
			border-bottom-right-radius: 5px;
			transition: 0.4s ease-out;
			ul {
				list-style: none;
				position: relative;
				a {
					text-decoration: none;
					transition: 0.3s;
					color: $dark-bat;
					display: block;
					li {
						font-size: 16px;
						text-transform: uppercase;
						padding: 14px 20px;
						i {
							margin-right: 5px;
						}
					}
					&:first-child {
						margin-top: 14px;
					}
					&:hover {
						color: $font-color;
						background-color: $highlight;
					}
				}
				.active {
					color: $font-color;
					background-color: $highlight;
				}
				#reveal-admin-opt {
					background-color: $font-color;
					position: absolute;
					top: -14px;
					right: -24px;
					border-left: 1px solid transparent;
					font-size: 15px;
					justify-content: center;
					height: 36px;
					display: flex;
					text-align: center;
					width: 23px;
					align-items: center;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					transition: 0.3s;
					&:hover {
						color: $highlight;
						cursor: pointer;
					}
				}
			}
		}
		.back-opt {
			left: 0;
		}
		// opening card and section
		#opening {
			margin-top: 120px;
			.container {
				@include container();
				.full-row {
					display: flex;
					gap: 1.5%;
					[class^="prod-"] {
						position: relative;
						display: flex;
						.images {
							position: relative;
							&::before {
								content: "";
								width: 0%;
								background-color: $highlight;
								height: 4px;
								position: absolute;
								z-index: 9;
								top: 0;
								transition: 0.3s ease-in width;
							}
							.product-img {
								width: 100%;
							}
							.shape {
								position: absolute;
								left: 1px;
								right: 1px;
								width: -webkit-fill-available;
								top: 1px;
							}
						}
						&:hover .images::before {
							width: 100%;
						}
						.des {
							position: absolute;
							padding: 40px;
							span {
								color: $highlight;
							}
							h3 {
								color: $font-color;
								font-family: $bebas;
								font-size: 33px;
								font-weight: 500;
							}
							p {
								color: $font-color;
								font-weight: 500;
								color: $muted;
								font-size: 18px;
							}
						}
					}
				}
			}
		}
		// about the company and their history
		#about {
			margin-top: 74px;
			.container {
				@include container();
				.full-row {
					display: flex;
					.about-img {
						width: 50%;
					}
					.des {
						padding: 70px;
						border: 1px solid $product-border;
						width: 50%;
						height: 503px;
						background-color: $sec-bg;
						span {
							@include sm-heading();
							margin-bottom: 20px;
						}
						h1 {
							color: $font-color;
							font: {
								family: $bebas;
								size: 50px;
								weight: 500;
							}
						}
						p {
							font-size: 17px;
							color: $muted;
							line-height: 1.5rem;
							&:nth-child(3) {
								padding: 20px 0px 35px 0px;
							}
						}
					}
				}
			}
		}
		// most popular products
		#menu {
			margin-top: 76px;
			.sm-heading {
				@include flex();
				flex-direction: column;
				span {
					@include sm-heading();
					margin-bottom: 20px;
				}
				h1 {
					color: $font-color;
					margin-bottom: 30px;
					font: {
						weight: 500;
						family: $bebas;
						size: 55px;
					}
				}
			}
			.controls {
				display: flex;
				justify-content: center;
				border-bottom: 1px solid $highlight;
				margin: 30px 20px 40px 20px;
				.filter {
					all: unset;
					color: white;
					width: 80px;
					text-align: center;
					cursor: pointer;
					text-transform: uppercase;
					border: 1px solid $highlight;
					border-bottom: none;
					padding: 5px 9px;
					transition: 0.3s;
					&:first-child {
						color: $highlight;
					}
				}
			}
			.container-sm {
				@include container-sm();
				.full-row {
					width: 100%;
					@include flex(space-between, center);
					flex-wrap: wrap;
					column-gap: 60px;
					row-gap: 30px;
					.single-menu {
						width: 512px;
						position: relative;
						border: 1px solid $product-border;
						@include flex(flex-start, center);
						padding: 38px 30px 38px 70px;
						cursor: pointer;
						img {
							position: absolute;
							left: -42px;
							z-index: 99;
							height: 86px;
							width: 86px;
							border-radius: 50%;
						}
						.inner-section {
							@include flex(space-between, center);
							width: 100%;
							&::before {
								content: "";
								position: absolute;
								left: 0;
								width: 0%;
								height: 100%;
								background-color: $form-background;
								transition: 0.45s width;
							}
							span {
								z-index: 99;
								text-transform: uppercase;
								font-size: 25px;
								&:first-child {
									color: $font-color;
									font-family: $bebas;
								}
								&:last-child {
									color: $highlight;
									font-family: $bebas;
								}
							}
						}
						&:hover .inner-section::before {
							width: 100%;
						}
						.edit-opt {
							position: absolute;
							border: 1px solid $grey;
							bottom: -34px;
							opacity: 0;
							visibility: hidden;
							left: 50%;
							transform: translate(-50%);
							border: 1px solid $border-color;
							border-bottom: none;
							padding: 5px 12px;
							color: $grey;
							transition: 0.2s;
							a {
								color: unset;
								span {
									padding: 5px;
									transition: 0.2s;
									&:hover {
										color: $invalid-color;
									}
								}
							}
							span {
								&:hover {
									color: $valid-color;
								}
							}
						}
						&:hover .edit-opt {
							bottom: 0;
							opacity: 1;
							visibility: visible;
						}
					}
					.order-product-info {
						background-color: $dark-as-hell;
						width: 717px;
						margin: 14px auto;
						border-radius: 7px;
						.modal-wrapper {
							.modal-section {
								padding: 30px;
								.heading {
									margin-bottom: 20px;
									color: $font-color;
									h3 {
										font: 500 28px arial;
									}
								}
								.modal-body {
									display: flex;
									width: 100%;
									justify-content: space-between;
									gap: 30px;
									.prod-img-div {
										border-radius: 62% 38% 28% 72% / 41% 48% 52% 59%;
										width: 296px;
										height: 296px;
										background-color: $form-box-shadow;
										@include flex();
										#prod-img {
											width: 284px !important;
											height: 284px !important;
											border-radius: 62% 38% 28% 72% / 41% 48% 52% 59%;
										}
									}
								}
								.total-info {
									.short-des {
										display: flex;
										flex-direction: column;
										gap: 10px;
										.first-heading {
											display: flex;
											justify-content: space-between;
											align-items: center;
											gap: 7px;
											input {
												all: unset;
												color: $font-color;
												font: 400 30px/1.4 $bebas;
												text-transform: uppercase;
											}
											span {
												color: $font-color;
											}
										}
										.prod-main-des {
											p {
												color: $muted;
												line-height: 19px;
											}
										}
										.stock {
											color: $font-color;
											margin-bottom: 10px;
										}
									}
									.prod-des {
										display: flex;
										gap: 20px;
										flex-direction: column;
										input {
											all: unset;
										}
										input[name="productPrice"] {
											color: $font-color;
										}
										.inc-dec {
											color: $font-color;
											user-select: none;
											cursor: pointer;
											span {
												border: 1px solid $grey;
												width: 38px;
												display: inline-block;
												text-align: center;
												height: 35px;
												padding: 5px 6px;
												&:first-child {
													margin-right: -6px;
												}
												&:last-child {
													margin-left: -6px;
												}
											}
											input {
												background-color: $form-box-shadow;
												width: 80px;
												text-align: center;
												border: 1px solid $grey;
												padding: 5px 6px;
												padding-left: 16px;
											}
										}
										input[type="submit"] {
											@include big-heading();
											cursor: pointer;
											width: 190px;
											text-align: center;
										}
									}
								}
							}
						}
					}
				}
			}
			.menu-footer {
				margin-top: 30px;
				text-align: center;
				display: flex;
				justify-content: center;
				gap: 10px;
				a {
					@include big-heading();
					margin-bottom: 60px;
					&:last-child {
						background-color: $light-dark;
					}
					&:last-child:hover {
						background-color: $highlight;
					}
				}
			}
		}
		// additional opacity for single product view
		.single-menu-op {
			background: {
				image: url("/images/breadcrumb-light.jpg");
				size: cover;
				repeat: no-repeat;
			}
			height: 100vh;
			margin-top: 0 !important;
			.container-sm {
				background-color: $wrapper-bg;
				height: inherit;
			}
		}
		// showing other items
		#other-product {
			margin-top: 96px;
			background-image: url(/images/footer.jpeg);
			background-size: cover;
			background-repeat: no-repeat;
			.container-sm {
				flex-direction: column;
				row-gap: 20px;
				@include container-sm();
				.sm-heading {
					span {
						@include sm-heading();
					}
				}
				.lg-heading {
					display: flex;
					justify-content: space-between;
					align-items: center;
					h1 {
						font: 500 60px $bebas;
						color: $font-color;
					}
					a {
						@include big-heading();
					}
				}
				.full-row {
					@include flex();
					gap: 20px;
					margin-top: 30px;
					width: 100%;
					.single-item {
						width: 33.3333%;
						border: 1px solid $border-color;
						position: relative;
						padding: 110px 20px 40px 20px;
						transition: 0.3s background-color;
						height: 470px;
						cursor: pointer;
						.img {
							text-align: center;
							margin-bottom: 30px;
							transition: 0.6s;
							img {
								width: 70%;
								border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%;
							}
						}
						.item-des {
							display: flex;
							flex-direction: column;
							align-items: center;
							span {
								&:first-child {
									font-size: 20px;
									color: $font-color;
									letter-spacing: 0px;
								}
								&:last-child {
									color: $highlight;
								}
							}
						}
						&:hover {
							& {
								background-color: $sec-bg;
							}
							.img {
								transform: scale(1.08);
							}
						}
					}
				}
			}
		}
		// product reviews
		#review {
			.container-sm {
				@include container-sm();
				@include flex(flex-start, flex-start);
				gap: 20px;
				flex-direction: column;
				padding-top: 40px;
				.sm-heading {
					@include sm-heading();
				}
				.lg-heading {
					display: flex;
					justify-content: space-between;
					align-items: center;
					h1 {
						font: 500 60px $bebas;
						color: $font-color;
					}
				}
				.full-row {
					max-width: 570px;
					width: 570px;
					.whole-review {
						padding: 20px;
						border: 1px solid $border-color;
						margin-bottom: 20px;
						.person-img {
							display: flex;
							gap: 18px;
							color: $font-color;
							img {
								height: 50px;
								border-radius: 50%;
							}
							.main-info-heading {
								display: flex;
								// align-items: center;
								justify-content: space-between;
								width: 100%;
								padding-right: 10px;
								.main-det {
									display: inline-flex;
									flex-direction: column;
									justify-content: center;
								}
							}
						}
						.review-body {
							margin: 10px 0px 0px 68px;
							color: $muted;
						}
					}
				}
			}
		}
		// new review
		#new-review {
			margin: 30px 0px 40px 0px;
			display: flex;
			flex-direction: column;
			width: 100%;
			label {
				color: $font-color;
				font-size: 17px;
				margin-bottom: 15px;
				text-transform: uppercase;
			}
			textarea {
				width: 100%;
				height: 150px;
				padding: 10px;
				font-size: 16px;
				background-color: $dark-as-hell;
				color: $font-color;
				border-color: $grey;
				resize: vertical;
			}
			input {
				all: unset;
				width: 150px;
				@include big-heading();
				text-align: center;
				cursor: pointer;
				margin: 20px 0px 20px 0px;
			}
			// importing reviews
			@import "review";
		}
		// own review
		#own-review {
			max-width: 570px;
			width: 570px;
			.heading {
				@include sm-heading();
				font-size: 13px;
				letter-spacing: 1px;
				font-weight: 400;
				margin-top: 50px;
			}
			.my-review {
				margin-top: 35px;
				padding: 20px;
				color: $font-color;
				border: 1px solid $border-color;
				p {
					margin-bottom: 13px;
					&:nth-child(2) {
						text-transform: uppercase;
						margin-bottom: 8px;
						color: $highlight;
					}
				}
			}
			a {
				display: inline-block;
				margin-top: 20px;
				button {
					all: unset;
					@include sm-heading();
					border: none;
					background-color: $invalid-color;
				}
			}
		}
		// all related product
		.all-related-product {
			.container-sm {
				background-color: rgba(0, 0, 0, 0.555);
				height: inherit;
				.full-row {
					.single-item {
						width: 33.3333%;
						border: 1px solid $border-color;
						position: relative;
						padding: 110px 20px 40px 20px;
						transition: 0.3s background-color;
						height: 470px;
						cursor: pointer;
					}
				}
			}
		}
		// buy a coffee machine section....
		#coffee-machine {
			margin-top: 96px;
			.container-sm {
				@include container-sm();
				.full-row {
					display: flex;
					.des {
						width: 50%;
						color: $font-color;
						h3 {
							font: 500 55px $bebas;
							margin-bottom: 23px;
						}
						p {
							line-height: 1.7rem;
							font-size: 17px;
							color: $muted;
							margin-bottom: 35px;
						}
						span {
							@include big-heading();
							border: none;
							cursor: pointer;
						}
					}
					.product-img {
						width: 50%;
						text-align: center;
					}
				}
			}
		}
		// product review section for the available menus
		#review-product {
			margin-top: 90px;
			.container-sm {
				@include container-sm();
				flex-direction: column;
				row-gap: 20px;
				.sm-heading {
					text-align: center;
					span {
						@include sm-heading();
					}
				}
				h1 {
					text-align: center;
					font: 500 60px $bebas;
					color: #fff;
				}
				.full-row {
					.owl-carousel {
						.owl-item-custom {
							@include flex(center, center);
							flex-direction: column;
							position: relative;
							.quote {
								#quote-img {
									width: 60px !important;
									margin: 20px;
								}
							}
							.reviewed-user {
								text-align: center;
								@include flex(center, center);
								flex-direction: column;
								.review-body {
									width: 66%;
									color: $font-color;
									font-size: 21px;
									line-height: 1.7rem;
								}
								.user-img {
									img {
										width: 60px;
										border-radius: 50%;
										margin: 20px;
									}
								}
								.name {
									color: $font-color;
									font-size: 20px;
									text-transform: uppercase;
								}
								.designation {
									color: $highlight;
									font-size: 17px;
									text-transform: uppercase;
								}
							}
						}
						.owl-nav {
							position: absolute;
							top: 30%;
							width: 100%;
							button {
								width: 50px;
								height: 50px;
								border: 1px solid $grey;
								border-radius: 50%;
								transition: 0.3s;
								color: #a4a4a4;
								font-weight: bold;
								@include flex();
								font-size: 18px;
								&.owl-prev {
									float: left;
								}
								&.owl-next {
									float: right;
								}
								&:hover {
									background-color: $highlight;
									border-color: $highlight;
									color: $font-color;
								}
							}
						}
					}
				}
			}
		}
		// reservation section from home section
		#reservation {
			margin-top: 50px;
			.container {
				@include container();
				.full-row {
					@include flex();
					width: 100%;
					justify-content: space-between;
					.location {
						width: 50%;
						height: 100%;
						iframe {
							width: 100%;
							height: 100%;
						}
					}
					.reservation-input {
						width: 50%;
						background-color: $sec-bg;
						padding: 50px 70px;
						.sm-heading {
							text-align: center;
							margin-bottom: 20px;
							span {
								@include sm-heading();
							}
						}
						h1 {
							margin-bottom: 20px;
							color: $font-color;
							font: 500 55px $bebas;
							text-align: center;
						}
						form {
							@include flex(center);
							flex-direction: column;
							row-gap: 20px;
							.single-box {
								width: 100%;
								input {
									background-color: $input-box-dark;
									width: calc(100% - 1px);
									padding: 16px 19px;
									border: 1px solid $border-color-lite;
									color: $muted;
									font-size: 16px;
									&:focus {
										outline: none;
									}
								}
								input[type="number"] {
									&::-webkit-outer-spin-button {
										-webkit-appearance: none;
										margin: 0;
									}
									&::-webkit-inner-spin-button {
										-webkit-appearance: none;
										margin: 0;
									}
								}
								input::-webkit-calendar-picker-indicator {
									filter: invert(1);
									&:hover {
										cursor: pointer;
									}
								}
								i {
									margin-left: -45px;
									font-size: 17px;
									color: $muted;
								}
							}
							input[type="submit"] {
								@include big-heading();
								border: none;
								cursor: pointer;
								margin-top: 10px;
							}
						}
					}
				}
			}
		}
		// reservation details from home page
		#reservation-details {
			margin: 50px 0 50px 0;
			.sm-heading {
				@include flex();
				flex-direction: column;
				span {
					@include sm-heading();
					margin-bottom: 20px;
				}
				h1 {
					color: $font-color;
					margin-bottom: 30px;
					font: {
						weight: 500;
						family: $bebas;
						size: 55px;
					}
				}
			}
			.container-sm {
				@include container-sm();
				.full-row {
					@include flex();
					width: 100%;
					.table-holder {
						overflow-x: auto;
						table {
							font-family: arial, sans-serif;
							border-collapse: collapse;
							width: 100%;
							tr {
								color: $input-field;
								td {
									border: 1px solid $highlight;
									text-align: left;
									padding: 12px;
									min-width: 120px;
								}
								#booking-status {
									span {
										display: inline-block;
										background-color: rgb(255, 145, 0);
										border-radius: 4px;
										color: $font-color;
										padding: 4px 7px;
										text-transform: capitalize;
									}
									.accepted {
										background-color: $valid-color;
									}
								}
								th {
									@extend td;
									color: $highlight;
								}
								&:nth-child(even) {
									background-color: $sec-bg;
								}
							}
						}
					}
				}
			}
		}
		// out blog form form home section
		#our-blog {
			margin: 70px 0px 70px 0px;
			.container-sm {
				@include container-sm();
				@include flex(flex-start, flex-start);
				flex-direction: column;
				gap: 20px;
				width: 100%;
				.sm-heading {
					span {
						@include sm-heading();
					}
				}
				.lg-heading {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					h1 {
						font: 500 60px $bebas;
						color: $font-color;
					}
					a {
						@include big-heading();
					}
				}
				.full-row {
					@include flex();
					flex-wrap: wrap;
					gap: 20px;
					margin-top: 30px;
					width: 100%;
					.single-blog {
						flex-basis: 31.3333%;
						.blog-img {
							font-size: 0;
							line-height: 0;
							max-height: 240px;
							height: 210px;
							overflow: hidden;
							img {
								max-width: 100%;
								height: 210px;
								width: 100%;
								transition: 0.3s;
								object-fit: cover;
							}
						}
						.blog-des {
							border: 1px solid $product-border;
							border-top: none;
							display: flex;
							flex-direction: column;
							padding: 20px;
							gap: 10px;
							height: 200px;
							margin-top: -4px;
							small {
								span {
									color: $muted;
								}
								span {
									&:first-child {
										color: $highlight;
									}
								}
							}
							h3 {
								a {
									color: $font-color;
									font: 500 20px/1.9rem arial;
									margin-bottom: 7px;
									position: relative;
								}
							}
							a {
								font-size: 15px;
								color: $muted;
								text-decoration: none;
								i {
									margin-left: 5px;
								}
							}
						}
						&:hover {
							.blog-img {
								img {
									transform: scale(1.1);
								}
							}
						}
					}
				}
			}
		}
		// creating subscribed mailing
		#all-subscribed-mail {
			margin: 50px 0 50px 0;
			.sm-heading {
				@include flex();
				flex-direction: column;
				span {
					@include sm-heading();
					margin-bottom: 20px;
				}
				h1 {
					color: $font-color;
					margin-bottom: 30px;
					font: {
						weight: 500;
						family: $bebas;
						size: 55px;
					}
				}
			}
			.container-sm {
				@include container-sm();
				.full-row {
					@include flex();
					width: 100%;
					.table-holder {
						overflow-x: auto;
						table {
							font-family: arial, sans-serif;
							border-collapse: collapse;
							width: 100%;
							tr {
								color: $input-field;
								td {
									border: 1px solid $highlight;
									text-align: left;
									padding: 12px;
									min-width: 120px;
								}
								#mail-status {
									a {
										display: inline-block;
										&:first-child {
											margin: 6px 8px 6px 0;
										}
										span {
											display: inline-block;
											color: $font-color;
											background-color: $valid-color;
											border-radius: 9px;
											padding: 2px 13px;
											transition: 0.3s;
											&:hover {
												color: rgb(233, 233, 233);
											}
										}
										&:nth-child(2) span {
											background-color: $invalid-color;
										}
										.rejected {
											background-color: $invalid-color;
										}
									}
								}
								th {
									@extend td;
									color: $highlight;
								}
								&:nth-child(even) {
									background-color: $sec-bg;
								}
							}
						}
					}
				}
			}
		}
		// showing all blogs
		.blogs {
			margin: 76px 0px 50px 0px;
			.container-sm {
				.full-row {
					@include flex();
					flex-wrap: wrap;
					gap: 20px;
					margin-top: 30px;
					width: 100%;
					.single-blog {
						display: inline-block;
						flex-basis: 31% !important;
					}
				}
				@include container-sm();
				flex-direction: column;
				.sm-heading {
					span {
						@include sm-heading();
					}
				}
				.show-blog {
					width: 100%;
				}
				.blog-heading {
					width: 100%;
					padding: 10px 0px 30px 0px;
					@include flex(center, center);
					flex-direction: column;
					gap: 20px;
					h2 {
						color: $font-color;
						font: 400 50px $bebas;
						text-align: center;
					}
					a {
						button {
							all: unset;
							@include big-heading();
						}
					}
				}
			}
		}
		// creating blog section
		#create-blog {
			margin-top: 76px;
			.container-sm {
				@include flex();
				flex-direction: column;
				@include container-sm();
				.sm-heading {
					span {
						@include sm-heading();
						margin-bottom: 20px;
					}
				}
				h1 {
					font: 500 60px $bebas;
					color: $font-color;
					text-align: center;
				}
				.full-row {
					margin: 40px 0px 40px 0px;
					width: 100%;
					padding: 30px;
					background-color: $sec-bg;
					border-radius: 5px;
					width: 100%;
					h2 {
						color: $font-color;
						font: 400 30px $bebas;
					}
					input {
						background-color: $dark-as-hell;
						width: 100%;
						margin: 16px 0px 16px 0px;
						padding: 12px 10px;
						font-size: 17px;
						border-color: transparent;
						color: $font-color;
					}
					textarea {
						background-color: $dark-as-hell;
					}
					button[type="submit"] {
						all: unset;
						margin-top: 6px;
						background-color: $highlight;
						color: $font-color;
						width: 110px;
						padding: 10px 14px;
						text-align: center;
						border-radius: 3px;
						transition: 0.3s;
						&:hover {
							cursor: pointer;
							color: $input-field;
							background-color: $dark-as-hell;
						}
					}
				}
			}
		}
		// <<============<< <==modals==> >>===========>> //
		[class^="order-modal"] {
			@include modal();
			.modal-wrapper {
				@include flex();
				height: 100vh;
				.modal-section {
					background-color: $font-color;
					padding: 30px;
					border-radius: 4px;
					width: 400px;
					height: 360px;
					.heading {
						@include flex(space-between, center);
						h3 {
							margin-bottom: 10px;
							font: 500 23px $bebas;
						}
						span {
							cursor: pointer;
							margin-bottom: 10px;
						}
					}
					.modal-body {
						display: flex;
						height: 69.5%;
						border: 1px solid $border-color-lite;
						margin-bottom: 20px;
						padding: 20px;
						.prod-img-div {
							width: 50%;
							@include flex(center, center);
							flex-direction: column;
							#prod-img {
								width: 110px;
								border-radius: 50%;
							}
							label {
								margin-top: 14px;
								cursor: pointer;
								border: 1px solid $dark-as-hell;
								border-radius: 5px;
								padding: 3px 7px;
								width: 122px;
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;
							}
							input[type="file"] {
								opacity: 0;
								position: absolute;
								z-index: -1;
							}
						}
						.prod-des {
							width: 50%;
							height: 100%;
							@include flex();
							flex-direction: column;
							row-gap: 20px;
							input[id="placeName"] {
								font: 500 22px $bebas;
								text-align: center;
								border: none;
								background: transparent;
								box-shadow: none;
								outline: none;
								color: $dark-bat;
							}
							p {
								color: $grey;
							}
							#price,
							#priceEdit {
								text-align: center;
								width: 124px;
								font-size: 20px;
								padding: 7px 5px;
								color: $main-bg;
							}
							.inc-dec {
								display: flex;
								span {
									@include counter();
								}
								input[type="number"] {
									@include counter();
									width: 43px;
									padding-right: 5px;
									-moz-appearance: textfield;
									color: $main-bg;
									&:focus {
										outline: none;
									}
								}
								input::-webkit-outer-spin-button,
								input::-webkit-inner-spin-button {
									-webkit-appearance: none;
								}
							}
						}
					}
					.modal-footer {
						text-align: right;
						input {
							@include big-heading();
							border: none;
							&:hover {
								cursor: pointer;
							}
						}
					}
				}
			}
		}
		// confirmation modal for deletion operations
		.confirmation-modal {
			@include modal();
			align-items: center;
			justify-content: center;
			.modal-section {
				border-radius: 5px;
				padding: 20px;
				margin: 20px;
				max-width: 380px;
				background-color: $font-color;
				position: relative;
				font-size: 14px;
				span[class="closeModal"] {
					position: absolute;
					right: 7px;
					top: 5px;
					cursor: pointer;
				}
				.heading {
					@include flex(center, center);
					span {
						color: $close-btn;
						font-size: 80px;
					}
				}
				.modal-body {
					h4 {
						text-align: center;
						font-size: 26px;
						margin: 10px 0px;
						font-family: Arial, Helvetica, sans-serif;
						font-weight: 500;
						color: #636363;
					}
					p {
						text-align: center;
						color: #999;
						font-size: 16px;
						line-height: 1.2rem;
						margin: 25px 0;
					}
				}
				.modal-footer {
					text-align: center;
					button {
						all: unset;
						background-color: #c1c1c1;
						color: $font-color;
						border-radius: 4px;
						transition: all 0.4s;
						line-height: normal;
						min-width: 120px;
						min-height: 40px;
						border-radius: 3px;
						margin: 0 5px;
						cursor: pointer;
						font-size: 16px;
						&:first-child:hover {
							background-color: #a8a8a8;
						}
						&:last-child {
							background-color: $close-btn;
							&:hover {
								background-color: #ee3535;
							}
						}
					}
				}
			}
		}
		// modal for product order
		.product-plus {
			@include modal();
			.modal-wrapper {
				@include flex();
				height: 100vh;
				.modal-section {
					background-color: $font-color;
					padding: 30px;
					border-radius: 4px;
					width: 400px;
					height: 360px;
					.heading {
						@include flex(space-between, center);
						h3 {
							margin-bottom: 10px;
							font: 500 23px $bebas;
						}
						span {
							cursor: pointer;
							margin-bottom: 10px;
						}
					}
					.modal-body {
						display: flex;
						height: 69.5%;
						border: 1px solid $border-color-lite;
						margin-bottom: 20px;
						padding: 20px;
						.prod-img-div {
							width: 50%;
							display: flex;
							align-items: center;
							#product-img-plus {
								width: 110px;
							}
						}
						.prod-des {
							width: 50%;
							height: 100%;
							@include flex();
							flex-direction: column;
							row-gap: 20px;
							input[id="placeProductName"] {
								font: 500 22px $bebas;
								text-align: center;
								border: none;
								background: transparent;
								box-shadow: none;
								outline: none;
								color: $dark-bat;
							}
							#productPrice {
								text-align: center;
								width: 124px;
								font-size: 20px;
								padding: 7px 5px;
								color: $main-bg;
							}
							.inc-dec-product {
								display: flex;
								span {
									@include counter();
								}
								input[type="number"] {
									@include counter();
									width: 43px;
									padding-right: 5px;
									-moz-appearance: textfield;
									color: $main-bg;
									&:focus {
										outline: none;
									}
								}
								input::-webkit-outer-spin-button,
								input::-webkit-inner-spin-button {
									-webkit-appearance: none;
								}
							}
						}
					}
					.modal-footer {
						text-align: right;
						input {
							@include big-heading();
							border: none;
							&:hover {
								cursor: pointer;
							}
						}
					}
				}
			}
		}
		// cropping modal for cropping the profile image
		#crop-modal {
			@include modal();
			.modal-dialog {
				width: 340px;
				max-width: 340px;
				background-color: $font-color;
				border-radius: 5px;
				margin: 20px auto;
				.modal-header {
					@include flex(space-between, center);
					border-bottom: 1px solid $border-color-lite;
					padding: 20px;
					h5 {
						font-size: 20px;
					}
					button {
						background-color: $invalid-color;
						color: $font-color;
						border: 1px solid $font-color;
						border-radius: 5px;
						width: 44px;
						height: 28px;
						cursor: pointer;
						@include flex();
					}
				}
				.modal-body {
					border-bottom: 1px solid $border-color-lite;
					padding: 20px;
				}
				.modal-footer {
					display: flex;
					justify-content: flex-end;
					padding: 20px;
					gap: 15px;
					button {
						font-size: 16px;
						margin-top: 0;
						width: 100px;
						@include big-heading();
						border: none;
						cursor: pointer;
						&:active {
							margin-top: 0;
						}
						&:first-child {
							background-color: $sec-bg;
							&:hover {
								background-color: $highlight;
							}
						}
						&:hover &:last-child {
							background-color: $sec-bg;
						}
					}
				}
			}
		}
		// admin feature for adding menu or a new item into the existing product list
		.add-menu-modal {
			@include modal();
			.modal-wrapper {
				@include flex();
				height: 100vh;
				.modal-section {
					background-color: $font-color;
					padding: 30px;
					border-radius: 4px;
					width: 400px;
					height: 360px;
					.heading {
						@include flex(space-between, center);
						h3 {
							margin-bottom: 10px;
							font: 500 23px $bebas;
						}
						span {
							cursor: pointer;
							margin-bottom: 10px;
						}
					}
					.modal-body {
						display: flex;
						height: 69.5%;
						border: 1px solid $border-color-lite;
						margin-bottom: 20px;
						padding: 20px;
						.prod-des {
							width: 100%;
							height: 100%;
							@include flex();
							flex-direction: column;
							row-gap: 20px;
							input {
								width: 100%;
								padding: 6px 10px;
								font-size: 15px;
								&:focus {
									border-color: $highlight;
									outline-color: $highlight;
								}
							}
							input[type="file"] {
								padding: 0;
							}
							textarea {
								padding: 10px;
								width: 100%;
								height: 80px;
							}
							#price {
								text-align: center;
								width: 124px;
								font-size: 20px;
								padding: 7px 5px;
								color: $main-bg;
							}
						}
					}
					.modal-footer {
						text-align: right;
						input {
							@include big-heading();
							border: none;
							&:hover {
								cursor: pointer;
							}
						}
					}
				}
			}
		}
		// search result
		#search-result {
			.sm-container {
				@include container-sm();
				flex-direction: column;
				a {
					display: flex;
					text-decoration: none;
					margin-bottom: 20px;
					.result-body {
						width: 100%;
						border: 1px solid $border-color;
						display: flex;
						gap: 20px;
						padding: 15px;
						.short-img {
							line-height: 0;
							img {
								border-radius: 4px;
								width: 100px;
							}
						}
						.short-body {
							@include flex(flex-start, flex-start);
							flex-direction: column;
							gap: 8px;
							.name-price {
								span {
									font-family: Arial, Helvetica, sans-serif;
									font-size: 18px;
								}
							}
						}
					}
				}
			}
			p {
				color: $font-color;
			}
		}
		// main footer
		footer {
			position: relative;
			background: {
				image: url(/images/footer.jpeg);
				size: cover;
				position: center;
				repeat: no-repeat;
			}
			border-top: 1px solid $border-color;
			.footer-wrapper {
				padding: 150px 20px 0px 20px;
				background-color: $wrapper-bg;
				#gotoTop {
					span {
						position: absolute;
						left: 50%;
						top: -27px;
						transform: translate(-50%);
						height: 50px;
						width: 50px;
						border: 2px solid $border-color;
						background-color: $main-bg;
						border-radius: 50%;
						@include flex();
						cursor: pointer;
						transition: 0.3s;
						&::after {
							content: "GO TO TOP";
							position: absolute;
							left: 23px;
							bottom: -34px;
							transform: translate(-50%);
							width: 100px;
							text-align: center;
							font-size: 15px;
							color: $font-color;
						}
						&:hover {
							background-color: $highlight;
						}
					}
					i {
						color: $font-color !important;
					}
				}
				.news-latter-section {
					@include flex(flex-start, center);
					> div {
						flex-basis: 33.3333%;
						color: $font-color;
						display: flex;
						align-items: center;
						gap: 15px;
						&:nth-child(2) {
							text-align: center;
							justify-content: center;
						}
						span {
							color: $font-color;
							&:last-child {
								color: $muted;
							}
						}
					}
					> form {
						margin-left: auto;
						input[type="email"] {
							background-color: transparent;
							border: none;
							border-bottom: 1px solid $border-color;
							padding: 18px 10px;
							min-width: 200px;
							color: $font-color;
							font-size: 17px;
							&:focus {
								outline: none;
								box-shadow: none;
							}
						}
						button {
							height: 57px;
							margin-left: -10px;
							background-color: transparent;
							cursor: pointer;
							border: none;
							border-bottom: 1px solid $border-color;
							color: $font-color;
							padding: 0px 10px;
							i {
								margin-left: 8px;
							}
						}
					}
				}
				.short-bio {
					display: flex;
					padding: 70px 0px 30px 0px;

					.short-motif {
						flex-basis: 50%;
						margin-bottom: 30px;
						img {
							width: 80px;
							height: 80px;
						}
						.short-des {
							color: $font-color;
							font-size: 18px;
						}
					}
					.socials-rect {
						flex-basis: 50%;
						@include flex(flex-end);
						gap: 10px;
						> a {
							span {
								color: $muted;
								width: 40px;
								height: 40px;
								border-radius: 4px;
								@include flex();
								border: 1px solid $border-color;
								transition: 0.3s all;
							}
							&:hover span {
								border-color: $font-color;
								color: $font-color;
							}
						}
					}
				}
				.final-footer {
					border-top: 1px solid $border-color;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 30px;
					text-align: center;
					span {
						color: $font-color;
					}
				}
			}
		}
	}
}

.product-animate {
	opacity: 0;
	animation: fallIn 0.5s forwards;
}

// Add this to your existing product styles
#opening .prod-1,
#opening .prod-2,
#opening .prod-3,
#menu-row .product-link,
#coffee-machine .des,
#coffee-machine .product-img,
#popular-product-row .single-item,
#our-blog .single-blog,
.shop-menu-item {
	opacity: 0;
}

@keyframes fallIn {
	from {
		transform: translateY(-20px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

// sticky animation for topbar or nav
@keyframes animationFade {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

// importing the all media query codes
@import "media_query";
