<%- include("../../partials/head.ejs") %>
</head>
<body>
    <%- include("../../partials/header.ejs", { orders: false }) %>
        <section id="error-404-500">
            <div>
                <h1>Enternal Server Error</h1>
            </div>
        </section>
    </header>

    <%- include("../../partials/footer.ejs") %>
</body>
</html>