<footer id="footer">
	<div class="footer-wrapper">
		<a id="gotoTop" href="#"><span><i class="bi bi-arrow-up"></i></span></a>
		<div class="news-latter-section">
			<div>
				<img src="/images/phone.png" alt="phone" />
				<span>PHONE:</span>
				<span>+01208-673833</span>
			</div>
			<div>
				<img src="/images/location.png" alt="location" />
				<span>ADDRESS:</span>
				<span>30 North West BD</span>
			</div>
			<form action="/subscribe" method="post">
				<input type="email" name="subEmail" id="newsLetterEmail" placeholder="Enter your email" />
				<button style="margin-top: 4px;" type="submit">SUBSCRIBE <i class="bi bi-send"></i></button>
			</form>
		</div>
		<div class="short-bio">
			<div class="short-motif">
				<img src="/images/brand.png" alt="brand" />
				<p class="short-des">
					Life without coffee is like something without something. A bad day with coffee is
					better than a good day without it.
				</p>
			</div>
			<div class="socials-rect">
				<a href="https://www.instagram.com/iftekhar_website_design/"><span><i class="bi bi-instagram"></i></span></a>
				<a href="https://www.behance.net/iftekharsaimum"><span><i class="bi bi-behance"></i></span></a>
				<a href="https://www.linkedin.com/in/iftekhar-saimum/"><span><i class="bi bi-linkedin"></i></span></a>
				
			</div>
		</div>
		<div class="final-footer">
			<span>&copy; <%= new Date().getFullYear() %> MERN-Coders org. | Created By Iftekhar Mohammad Saimum</span>
		</div>
	</div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
	integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/scripts/main.js"></script>